<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="theme-color" content="#003680" />
	<meta name="format-detection" content="telephone=no" />

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />

	<link rel="shortcut icon" href="https://event.franklin.com.tw/commonResources/images/favicon.ico" />
	<link rel="apple-touch-icon" sizes="192×192" href="https://event.franklin.com.tw/commonResources/images/192x192.png" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="https://event.franklin.com.tw/commonResources/css/slick.css" />
	<link rel="stylesheet" type="text/css" href="https://event.franklin.com.tw/commonResources/css/animate-v3.7.2.css" />
	<link rel="stylesheet" href="kolUse/css/style.css" />

	<title>存基金 好薪安 – 地表最強佛系投資法 素人也能輕鬆圓夢想｜富蘭克林</title>
	<meta property="og:title" content="存基金 好薪安 – 地表最強佛系投資法 素人也能輕鬆圓夢想｜富蘭克林" />
	<meta name="twitter:title" content="存基金 好薪安 – 地表最強佛系投資法 素人也能輕鬆圓夢想｜富蘭克林" />

	<meta name="description" content="富蘭克林【存基金】，結合國民理財機器人、定期定額投資法與專業理財顧問三大優勢，規避人性弱點，舒緩投資痛點，降低理財風險，無論您是理財新手或基金老手，都能e指變身投資好手！" />
	<meta property="og:description" content="富蘭克林【存基金】，結合國民理財機器人、定期定額投資法與專業理財顧問三大優勢，規避人性弱點，舒緩投資痛點，降低理財風險，無論您是理財新手或基金老手，都能e指變身投資好手！" />
	<meta name="twitter:description" content="富蘭克林【存基金】，結合國民理財機器人、定期定額投資法與專業理財顧問三大優勢，規避人性弱點，舒緩投資痛點，降低理財風險，無論您是理財新手或基金老手，都能e指變身投資好手！" />

	<meta property="og:type" content="website" />
	<meta property="fb:app_id" content="1060402337367331" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:image" content="https://event.franklin.com.tw/savings-fund/kolUse/images/fb.jpg" />
	<meta name="twitter:image" content="https://event.franklin.com.tw/savings-fund/kolUse/images/fb.jpg" />
	<meta name="twitter:card" content="https://event.franklin.com.tw/savings-fund/kolUse/images/fb.jpg" />

	<meta property="og:url" content="https://event.franklin.com.tw/savings-fund/kol.html" />
	<meta name="twitter:site" content="@franklin_tw" />

	<script src="kolUse/js/polyfill.min.js"></script>
    <script src="kolUse/js/md5.min.js"></script>
    <script src="kolUse/js/moment.min.js"></script>
	<script src="https://event.franklin.com.tw/commonResources/js/vue-v2.js"></script>
	<script src="https://event.franklin.com.tw/commonResources/js/jquery-v3.4.min.js"></script>
	<script src="https://event.franklin.com.tw/commonResources/js/jquery-migrate-v1.2.1.min.js"></script>
	<script src="https://event.franklin.com.tw/commonResources/js/slick.min.js"></script>
	<script src="https://event.franklin.com.tw/commonResources/js/wow-v1.3.min.js"></script>
	<script src="https://event.franklin.com.tw/commonResources/js/ScrollMagic-v2.0.7.min.js"></script>
	<!-- <script src="https://event.franklin.com.tw/commonResources/js/debug.addIndicators-v2.0.7.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
	<script src="https://event.franklin.com.tw/commonResources/js/animation.gsap.js"></script>
	<script src="kolUse/js/vue-scrollto.min.js"></script>
	<script src="kolUse/js/vuelidate.min.js"></script>
    <script src="kolUse/js/validators.min.js"></script>

	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				"gtm.start": new Date().getTime(),
				event: "gtm.js",
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != "dataLayer" ? "&l=" + l : "";
			j.async = true;
			j.src = "//www.googletagmanager.com/gtm.js?id=" + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, "script", "dataLayer", "GTM-586SXP");
	</script>
	<!-- End Google Tag Manager -->

	<script src="https://event.franklin.com.tw/commonResources/js/appUse/siceVueCmp.umd.min.js">//APP用的js</script>
    <script src="https://event.franklin.com.tw/commonResources/js/appUse/click.js">//APP用的js</script>
</head>

<body>
	<!-- Google Tag Manager -->
	<noscript>
		<iframe src="//www.googletagmanager.com/ns.html?id=GTM-586SXP" height="0" width="0"
			style="display: none; visibility: hidden;"></iframe>
	</noscript>
	<!-- End Google Tag Manager -->

	<sice-provider id="content" v-cloak>

		<div id="top"></div>

		<!-- <header class="mobileHeader">
			<div class="container clearfix">
				<div class="mobileHeader-logo">
					<a href="https://www.franklin.com.tw/" target="_blank" title="富蘭克林 國民的基金">
						<img src="images/logo2019.svg" alt="富蘭克林 國民的基金">
					</a>
				</div>
				<div class="mobileHeader-shareLink-area">
					<div class="mobileHeader-shareLink">
						<a href="http://line.naver.jp/ti/p/%40franklin" target="_blank" title="Line">
							<i class="fab fa-line"></i>
						</a>
					</div>
					<div class="mobileHeader-shareLink">
						<a href="https://www.youtube.com/user/franklin0800885888" target="_blank" title="youtube">
							<i class="fab fa-youtube"></i>
						</a>
					</div>
					<div class="mobileHeader-shareLink">
						<a href="https://www.facebook.com/franklin.taiwan/" target="_blank" title="粉絲團">
							<i class="fab fa-facebook-square"></i>
						</a>
					</div>
				</div>
			</div>
		</header> -->

		<!-- header -->
		<header-area :active-number="100"></header-area>

		<!-- main -->
		<article class="main">

			<section class="banner wow fadeIn">
				<h1 class="banner-tit" title="地表最強佛系投資法 素人也能輕鬆圓夢想">
					地表最強佛系投資法 素人也能輕鬆圓夢想
				</h1>
				<picture>
					<source media="(max-width: 767px)" srcset="kolUse/images/banner-mobile.jpg">
					<img src="kolUse/images/banner.jpg" alt="地表最強佛系投資法 素人也能輕鬆圓夢想" class="banner-kv">
				</picture>
			</section>

			<section class="painPoint">
				<div class="container">
					<div class="painPoint-item-area">
						<div class="painPoint-item wow fadeInUp">
							<div class="painPoint-item-content">
								<b>想圓夢</b>，卻不知道如何達成
							</div>
						</div>
						<div class="painPoint-item wow fadeInUp" data-wow-delay="0.3s">
							<div class="painPoint-item-content">
								<b>想投資</b>，卻不了解該選什麼
							</div>
						</div>
						<div class="painPoint-item wow fadeInUp" data-wow-delay="0.6s">
							<div class="painPoint-item-content">
								<b>想堅持</b>，卻不小心半途而廢
							</div>
						</div>
					</div>
					<h2 class="tit-type1 wow fadeInUp" title="您的投資痛點，存基金都有解" data-wow-delay="0.8s">
						您的投資痛點，存基金都有解
					</h2>
				</div>
			</section>

			<section class="item introduction">
				<div class="container">
					<div class="introduction-content wow fadeIn">
						<i class="fas fa-quote-left"></i>
						富蘭克林 <b class="focus">存基金</b> ，結合國民理財機器人、定期定額投資法與專業理財顧問三大優勢，規避人性弱點，舒緩投資痛點，降低理財風險，無論您是理財新手或基金老手，都能ｅ指變身投資好手！
					</div>
					<div class="introduction-img wow fadeInUp">
						<img src="kolUse/images/chart-1.svg" alt="富蘭克林存基金-介紹">
					</div>
				</div>
			</section>

			<section class="item blueBg fill">
				<div class="container">
					<p class="text-center wow fadeInUp">
						每60秒就有1分鐘過去，每晚1分鐘存基金就晚1/60小時享受人生！
						<br/>立即預約 <b class="focus">存基金</b> ，還可獲得社群意見領袖(KOL)粉絲專屬終身0手續費優惠！預約只到八月底，好康分秒必爭！
					</p>
					<div style="height: 1px;"></div>

					<div v-if="!isDone">
						<h2 class="tit-type1 wow fadeInUp" title="社群意見領袖(KOL)粉絲專屬 預約存基金終身０手續費優惠">
							社群意見領袖(KOL)粉絲專屬
							<br/>預約 <b class="focus">存基金</b>  終身０手續費優惠
						</h2>
						<!-- 一般狀態 start -->
						<div class="formArea wow fadeInUp" v-if="config.isBinded != 1">
							<!-- 有錯誤時[.formArea-item]加[.error] -->
							<div class="formArea-item" :class="{ 'error' :　loginType == 2 && $v.form.ID_NO.$error }">
								<div class="formArea-item-tit">
									<label for="id">
										身份證字號
									</label>
								</div>
								<div class="formArea-item-input">
									<input type="text" name="" id="id" :value="covered_id_no"
										v-if="form.ID_NO == temp.ID_NO && temp.ID_NO != ''" disabled />
									<input type="text" name="" id="id" v-model="login_id_no" v-else />
								</div>
								<div class="formArea-item-error">
									請確認您的身份證字號
								</div>
							</div>
							<div class="formArea-item" :class="{ 'error' :　$v.form.BF_NAME.$error }">
								<div class="formArea-item-tit">
									<label for="name">
										姓名
									</label>
								</div>
								<div class="formArea-item-input">
									<input type="text" name="" id="name" v-model="form.BF_NAME"
										:disabled="form.BF_NAME == temp.BF_NAME && temp.BF_NAME != ''" />
								</div>
								<div class="formArea-item-error">
									請確認您的姓名
								</div>
							</div>
							<div class="formArea-item" :class="{ 'error' :　$v.form.CELL_PHONE.$error }">
								<div class="formArea-item-tit">
									<label for="phone">
										手機
									</label>
								</div>
								<div class="formArea-item-input">
									<input type="tel" name="" id="phone" v-model="form.CELL_PHONE"
										:disabled="form.CELL_PHONE == temp.CELL_PHONE && temp.CELL_PHONE != ''" />
								</div>
								<div class="formArea-item-error">
									請確認您的手機
								</div>
							</div>
							<div class="formArea-item" :class="{ 'error' :　$v.form.EMAIL.$error }">
								<div class="formArea-item-tit">
									<label for="email">
										Email
									</label>
								</div>
								<div class="formArea-item-input">
									<input type="email" name="" id="email" v-model="form.EMAIL"
										:disabled="form.EMAIL == temp.EMAIL && temp.EMAIL != ''" />
								</div>
								<div class="formArea-item-error">
									請確認您的Email
								</div>
							</div>
							<div class="formArea-item full agree" :class="{ 'error' :　loginType == 2 && $v.form.AGREE.$error }">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="" id="agree1" v-model="form.AGREE" />
										<span>
											<i class="fas fa-check"></i>
										</span>
									</label>
								</div>
								<label for="agree1">
									我已閱讀並同意接受
								</label>
								<a href="https://www.franklin.com.tw/Privacy" target="_blank" title="富蘭克林證券投顧 個人資料告知義務內容">
									「富蘭克林證券投顧 個人資料告知義務內容」
								</a>
								<span v-if="isLine">
									與
									<a href="" @click.prevent="lineAlert" title="「LINE Business Connect服務使用條款暨個人資料運用告知聲明」">
										「LINE Business Connect服務使用條款暨個人資料運用告知聲明」
									</a>
								</span>
								<div class="formArea-item-error">
									請勾選個資同意條款
								</div>
							</div>
							<div class="btnArea">
								<div class="btn">
									<a href="" title="立即預約" @click.prevent="sendForm" v-if="!isSubmit"> 立即預約 <i class="fas fa-angle-right"></i>
									</a>
									<a href="" title="處理中，請稍候..." @click.prevent class="disabled" v-else> 處理中，請稍候... </a>
								</div>
							</div>
						</div>
						<!-- 一般狀態 end -->

						<!-- LINE綁定狀態 start -->
						<div class="line wow fadeInUp" v-else>
							<div class="tit-type2 text-center" style="color: #000;">
								<b>
									很棒！您已經綁定富蘭克林LINE官方帳號
								</b>
							</div>
							<div class="formArea">
								<p class="text-center text">
									您的身分證字號為{{covered_id_no}}，請直接點選下方按鍵取得優惠資格吧！
								</p>
								<div class="btnArea">
									<div class="btn">
										<a href="" title="立即預約" @click.prevent="sendForm" v-if="!isSubmit"> 立即預約 <i
												class="fas fa-angle-right"></i> </a>
										<a href="" title="處理中，請稍候..." @click.prevent class="disabled" v-else> 處理中，請稍候... </a>
									</div>
								</div>
								<p class="text-center chart-remark">
									*提醒您，若LINE綁定身分證字號與國民e帳戶不同，請於周一至周五上午9點至下午6點致電0800-885-888，請專人為您服務。
								</p>
							</div>
						</div>
						<!-- LINE綁定狀態 end -->
					</div>

					<div id="complete" v-else>
						<h2 class="tit-type1 wow fadeInUp" title="恭喜您已完成『存基金』專案預約！">
							恭喜您已完成『存基金』專案預約！
						</h2>
						<p class="text-center">
							尚未開戶者，快來申請線上開戶成為會員吧！
						</p>
						<div class="btnArea">
							<div class="btn">
								<a href="https://etrade.franklin.com.tw/Open/Entrance" title="線上開戶">
									線上開戶 <i class="fas fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</section>

			<section class="item">
				<div class="container">
					<h2 class="tit-type1 type2 wow fadeInUp" title="方案二選一，基金輕鬆存">
						方案二選一，基金輕鬆存
					</h2>
					<article class="program">
						<section class="program-item wow fadeInUp">
							<div class="program-item-content">
								<img src="kolUse/images/icon-1.png" alt="國民理財機器人" class="program-item-img">
								<h3 class="program-item-tit" title="國民理財機器人">
									國民理財機器人
								</h3>
								<p>
									適合認同數位金融，追求科技新體驗，嚮往「一鍵式投資」的你
								</p>
								<div class="dividingLine"></div>
								<h3 class="program-item-tit" title="最低5,000元">
									最低5,000元
								</h3>
								<p>
									即可擁有專屬的國民理財機器人
								</p>
							</div>
						</section>
						<section class="program-item wow fadeInUp" data-wow-delay="0.2s">
							<div class="program-item-content">
								<img src="kolUse/images/icon-2.png" alt="專案自選基金" class="program-item-img">
								<h3 class="program-item-tit" title="專案自選基金">
									專案自選基金
								</h3>
								<p>
									適合有投資主見，習慣自己挑選基金，偏好「有溫度服務」的你
								</p>
								<div class="dividingLine"></div>
								<h3 class="program-item-tit" title="最低1,000元">
									最低1,000元
								</h3>
								<p>
									小額也可以 無痛存基金
								</p>
							</div>
						</section>
					</article>

					<div class="dividingLine"></div>

					<h2 class="tit-type1 type2 wow fadeInUp" title="簡單三步驟，開始存基金">
						簡單三步驟，開始存基金
					</h2>
					<p class="text-center wow fadeInUp">
						拿到終身0手續費該怎麼用？簡單3步驟即可線上申辦國民e帳戶，開始輕鬆存基金！
					</p>
					<article class="step">
						<section class="step-item wow fadeIn">
							<div class="step-item-icon">
								STEP
								<div class="step-item-icon-no">
									1
								</div>
							</div>
							<h3 class="tit-type2" title="準備三大證件" @click="startSaving1 ? false : true">
								準備三大證件
							</h3>
							
							<transition name="fade">
								<div class="step-item-content" v-show="startSaving1">
									<div class="paperworkItem-area">
										<div class="paperworkItem">
											<img src="kolUse/images/paperwork-1.png" alt="身分證" class="paperworkItem-img">
											<p class="paperworkItem-tit">身分證</p>
										</div>
										<div class="paperworkItem">
											<img src="kolUse/images/paperwork-2.png" alt="健保卡" class="paperworkItem-img">
											<p class="paperworkItem-tit">健保卡</p>
										</div>
										<div class="paperworkItem">
											<img src="kolUse/images/paperwork-3.png" alt="銀行帳戶" class="paperworkItem-img">
											<p class="paperworkItem-tit">銀行帳戶</p>
										</div>
									</div>
								</div>
							</transition>
						</section>
						<section class="step-item wow fadeIn">
							<div class="step-item-icon">
								STEP
								<div class="step-item-icon-no">
									2
								</div>
							</div>
							<h3 class="tit-type2" title="線上填寫資料">
								線上填寫資料
							</h3>
							<p class="text-center">
								我們提供2種開戶方式，讓您輕鬆線上申辦基金投資帳戶。
							</p>
							<article class="program openMethod">
								<section class="program-item">
									<div class="program-item-content">
										<img src="kolUse/images/join1.png" alt="網路預約寄件開戶" class="program-item-img">
										<h3 class="program-item-tit" title="網路預約寄件開戶">
											網路預約<br/>寄件開戶
										</h3>
										<p>
											適用多數銀行
											<br/>不限年齡
											<br/>需7-10個工作天
										</p>
										<div class="btnArea">
											<div class="btn type2">
												<a href="https://etrade.franklin.com.tw/Open/NewMember?so=Online&" target="_blank" title="網路預約寄件開戶">
													立即開戶 <i class="fas fa-angle-right"></i>
												</a>
											</div>
										</div>
									</div>
								</section>
								<section class="program-item">
									<div class="program-item-content">
										<img src="kolUse/images/join2.png" alt="約定網銀帳戶線上開戶" class="program-item-img">
										<h3 class="program-item-tit" title="約定網銀帳戶線上開戶">
											約定網銀帳戶<br/>線上開戶
										</h3>
										<p>
											限第一、華南、彰化、兆豐、
											<br/>三信、元大
											<br/>需年滿20歲
											<br/>最快當天開戶當天下單
										</p>
										<div class="btnArea">
											<div class="btn type2">
												<a href="https://etrade.franklin.com.tw/Open/OpenOnlineAuthenticated?" target="_blank" title="約定網銀帳戶線上開戶">
													立即開戶 <i class="fas fa-angle-right"></i>
												</a>
											</div>
										</div>
									</div>
								</section>
							</article>
						</section>
						<section class="step-item wow fadeIn">
							<div class="step-item-icon">
								STEP
								<div class="step-item-icon-no">
									3
								</div>
							</div>
							<h3 class="tit-type2" title="登入【國民e帳戶】開始存基金！">
								登入【國民e帳戶】開始存基金！
							</h3>
							<div class="btnArea">
								<div class="btn">
									<a href="https://etrade.franklin.com.tw/Home/Login" target="_blank" title="點此登入帳戶" id="signIn">
										點此登入帳戶 <i class="fas fa-angle-right"></i>
									</a>
								</div>
							</div>
						</section>
					</article>
				</div>
			</section>

			<section class="item notice wow fadeIn">
				<div class="container">
					<h2 title="注意事項" class="tit-type3 text-center">
						注意事項
					</h2>
					<div class="wow fadeInUp">
						<ol>
							<li>
								活動日期：即日起～2020/8/31止。
							</li>
							<li>
								活動對象：活動期間內於本網頁登記預約「存基金 好薪安」專案活動者。
							</li>
							<li>
								專案優惠內容：(以下稱本優惠，詳請洽富蘭克林 <a href="https://event.franklin.com.tw/latest-offers/latest-offers.html" target="_blank" class="link">最新優惠</a> 網頁公告為準)
								<ul>
									<li>
										國民理財機器人專區：單筆及定期定額新申購投資計畫享手續費0元優惠。 登記後隔天歸戶至您的國民e帳戶，當您新申購投資計劃時，將自動適用本優惠。
									</li>
									<li>
										一般基金交易專區：單筆及定期定額新申購「存基金自選方案」精選六檔基金(含各股份類別)享手續費0元優惠。 登記後隔天歸戶至您的國民e帳戶，當您新申購指定基金時，即可在優惠類別自行選用。
									</li>
								</ul>
							</li>
							<li>
								優惠使用規則：
								<ul>
									<li>
										限2020/8/31 23:59前透過 <a href="https://etrade.franklin.com.tw/Home/Login" target="_blank" class="link">國民e帳戶</a> 網路交易新申購或加碼使用，轉換、既有契約新扣款交易不適用。
									</li>
									<li>
										尚未辦理國民e帳戶開戶者，需於專案期間完成開戶、核印與變更密碼啟用交易權限，本優惠方可歸戶及使用。
										<a href="https://etrade.franklin.com.tw/Open/Entrance" target="_blank" class="link">立即開戶 <i class="fas fa-angle-double-right"></i></a>
									</li>
								</ul>
							</li>
							<li>
								本專案活動每人限參加一次，包含從其他網頁已登記「存基金 好薪安」者視為重覆參加。
							</li>
							<li>
								預約登記者因資料不完整或錯誤，導致主辦單位無法連絡參加者時，將視同放棄優惠領取資格與權利。
							</li>
							<li>
								富蘭克林證券投顧保留修改、變更、取消或暫停本活動及贈品之權利，並毋需作事前通知。
							</li>
						</ol>
					</div>
				</div>
			</section>

		</article>

		<!-- footer -->
		<footer-area></footer-area>

		<div class="topBtn">
			<a href="#top" title="返回最上面" @click.prevent="$scrollTo('body')">
				<span>
					<i class="fas fa-caret-up"></i>
					TOP
				</span>
			</a>
		</div>

		<div class="fixedRightBtn-area clearfix twoBtn">
			<div class="fixedRightBtn rightArrowCta">
				<a href="https://etrade.franklin.com.tw/Open/Entrance" target="_blank" title="立即開戶去">
					立即開戶去 <i class="fas fa-angle-right"></i>
				</a>
			</div>
			<div class="fixedRightBtn type2 rightArrowCta">
				<a href="https://etrade.franklin.com.tw/Home/Login?" target="_blank" title="一起存基金">
					一起存基金 <i class="fas fa-angle-right"></i>
				</a>
			</div>
		</div>

		<!-- <modal ref="warning" :can-close="false" class="md">
			<slot slot="infoArea">
				xxxx
			</slot>
		</modal> -->

	</sice-provider>

	<script src="kolUse/js/lineEvent.min.js"></script>
	<script src="kolUse/js/valid.min.js"></script>
	<script src="kolUse/js/index.min.js"></script>
	<script src="kolUse/js/main.min.js"></script>
	<script src="//event.franklin.com.tw/js/ft.ga.addon.js"></script>
</body>

</html>