<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#fd7062" />
    <meta name="format-detection" content="telephone=no" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="manifest" href="js/manifest.json" crossorigin="use-credentials" />

    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="192×192" href="images/192x192.png" />

    <title>富蘭克林直播活動限定 手續費0元優惠簽到領取處 | 富蘭克林 國民的基金</title>

    <meta property="og:title" content="富蘭克林直播活動限定 手續費0元優惠簽到領取處" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1060402337367331" />
    <meta
      name="description"
      content="防疫作戰期間，投資也要加裝防護配置，讓富蘭克林投資防疫三寶來助陣！登記簽到就送您富蘭克林「國民e帳戶」網路交易平台４筆單筆申購０元手續費優惠，快呼朋引伴一起拿優惠吧！"
    />
    <meta
      property="og:description"
      content="防疫作戰期間，投資也要加裝防護配置，讓富蘭克林投資防疫三寶來助陣！登記簽到就送您富蘭克林「國民e帳戶」網路交易平台４筆單筆申購０元手續費優惠，快呼朋引伴一起拿優惠吧！"
    />
    <meta property="og:image" content="https://event.franklin.com.tw/live/images/fb.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="https://event.franklin.com.tw/live/index.html" />

    <meta name="twitter:title" content="富蘭克林直播活動限定 手續費0元優惠簽到領取處 | 富蘭克林 國民的基金">
    <meta name="twitter:card" content="summary_large_image" >
    <meta name="twitter:description" content="防疫作戰期間，投資也要加裝防護配置，讓富蘭克林投資防疫三寶來助陣！登記簽到就送您富蘭克林「國民e帳戶」網路交易平台４筆單筆申購０元手續費優惠，快呼朋引伴一起拿優惠吧！">
    <meta name="twitter:site" content="@franklin_tw">
    <meta name="twitter:image" content="https://event.franklin.com.tw/live/images/fb.jpg">

    <link rel="stylesheet" href="css/style.css" />
    <style>
      .btnArea .disabled {
        cursor: not-allowed;
        background: #d2d2d2;
        color: #9c9393;
      }
      .btnArea .disabled:hover {
        box-shadow: none;
        text-shadow: none;
      }
    </style>



    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js"
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "//www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-586SXP");
    </script>
    <!-- End Google Tag Manager -->
    <script src="js/polyfill.min.js"></script>
    <script src="js/md5.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <!-- <script src="js/vue.js"></script> -->
    <script src="js/vue.min.js"></script>
    <script src="js/vue-scrollto.min.js"></script>
    <script src="js/vuelidate.min.js"></script>
    <script src="js/validators.min.js"></script>
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous"
  />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <!-- Google Tag Manager -->
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-586SXP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager -->

    <div id="content" v-cloak>
      <!-- ie用的遮罩 -->
      <div class="ieUseMask" v-if="ieUseMask">
        <div class="ieUseMask-text">
          <strong>建議您使用現代化瀏覽器瀏覽</strong><br /><strong>以獲得最佳瀏覽效果</strong><br />(例：Chrome、Firefox)
          <div class="ieUseMask-dot"></div>
        </div>
      </div>

      <div id="top"></div>

      <!-- header -->
      <header class="header">
        <div class="container clearfix">
          <div class="logo">
            <a href="http://www.franklin.com.tw/" target="_blank" title="富蘭克林證券投顧">
              <picture>
                <source media="(max-width: 991px)" srcset="images/logo2019.svg" />
                <img src="images/header-logo.png" alt="富蘭克林‧國民的基金" />
              </picture>
              <div class="logo-text">
                富蘭克林‧國民的基金
              </div>
            </a>
          </div>
        </div>
      </header>

      <!-- main -->
      <article class="main">
        <section class="banner">
          <h1 title="富蘭克林直播活動限定 手續費0元優惠簽到領取處">
            富蘭克林直播活動限定 手續費0元優惠簽到領取處
          </h1>
          <picture>
            <source media="(max-width: 767px)" srcset="images/banner-mobile.png" />
            <img src="images/banner-pc.png" alt="富蘭克林直播活動限定 手續費0元優惠簽到領取處" class="banner-kv" />
          </picture>
        </section>

        <section class="item" id="form" v-if="!isDone">
          <div class="container">
            <p class="text-center">
              防疫作戰期間，投資也要加裝防護配置，讓富蘭克林投資防疫三寶來助陣！登記簽到就送您富蘭克林「國民e帳戶」網路交易平台４筆單筆申購０元手續費優惠，快呼朋引伴一起拿優惠吧！
            </p>

            <!-- 一般狀態 start -->
            <div class="normal" v-if="config.isBinded != 1">
              <div class="tit-type2">
                <b>
                  請務必填寫正確資訊，以利優惠發放！
                </b>
              </div>
              <div class="formArea">
                <!-- 有錯誤時[.formArea-item]加[.error] -->
                <div class="formArea-item" :class="{ 'error' :　loginType == 2 && $v.form.ID_NO.$error }">
                  <div class="formArea-item-tit">
                    <label for="id">
                      身份證字號
                    </label>
                  </div>
                  <div class="formArea-item-input">
                    <input type="text" name="" id="id" :value="covered_id_no" v-if="form.ID_NO == temp.ID_NO && temp.ID_NO != ''" disabled />
                    <input type="text" name="" id="id" v-model="login_id_no" v-else />
                  </div>
                  <div class="formArea-item-error">
                    請確認您的身份證字號
                  </div>
                </div>
                <div class="formArea-item" :class="{ 'error' :　$v.form.BF_NAME.$error }">
                  <div class="formArea-item-tit">
                    <label for="name">
                      姓名
                    </label>
                  </div>
                  <div class="formArea-item-input">
                    <input type="text" name="" id="name" v-model="form.BF_NAME" :disabled="form.BF_NAME == temp.BF_NAME && temp.BF_NAME != ''" />
                  </div>
                  <div class="formArea-item-error">
                    請確認您的姓名
                  </div>
                </div>
                <div class="formArea-item" :class="{ 'error' :　$v.form.CELL_PHONE.$error }">
                  <div class="formArea-item-tit">
                    <label for="phone">
                      手機
                    </label>
                  </div>
                  <div class="formArea-item-input">
                    <input type="text" name="" id="phone" v-model="form.CELL_PHONE" :disabled="form.CELL_PHONE == temp.CELL_PHONE && temp.CELL_PHONE != ''" />
                  </div>
                  <div class="formArea-item-error">
                    請確認您的手機
                  </div>
                </div>
                <div class="formArea-item" :class="{ 'error' :　$v.form.EMAIL.$error }">
                  <div class="formArea-item-tit">
                    <label for="email">
                      Email
                    </label>
                  </div>
                  <div class="formArea-item-input">
                    <input type="email" name="" id="email" v-model="form.EMAIL" :disabled="form.EMAIL == temp.EMAIL && temp.EMAIL != ''" />
                  </div>
                  <div class="formArea-item-error">
                    請確認您的Email
                  </div>
                </div>
                <div class="formArea-item full agree" :class="{ 'error' :　loginType == 2 && $v.form.AGREE.$error }">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="" id="agree1" v-model="form.AGREE" />
                      <span>
                        <i class="fas fa-check"></i>
                      </span>
                    </label>
                  </div>
                  <label for="agree1">
                    我已閱讀並同意接受
                  </label>
                  <a href="https://www.franklin.com.tw/Privacy" target="_blank" title="富蘭克林證券投顧 個人資料告知義務內容">
                    「富蘭克林證券投顧 個人資料告知義務內容」
                  </a>
                  <span v-if="isLine">
                    與
                    <a href="" @click.prevent="lineAlert" title="「LINE Business Connect服務使用條款暨個人資料運用告知聲明」">
                      「LINE Business Connect服務使用條款暨個人資料運用告知聲明」
                    </a>
                  </span>
                  <div class="formArea-item-error">
                    請勾選個資同意條款
                  </div>
                </div>
                <div class="btnArea">
                  <div class="btn">
                    <a href="" title="送出領０元優惠" @click.prevent="sendForm" v-if="!isSubmit"> 送出領０元優惠 <i class="fas fa-angle-right"></i> </a>
                    <a href="" title="處理中，請稍候..." @click.prevent class="disabled" v-else> 處理中，請稍候... </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- 一般狀態 end -->

            <!-- LINE綁定狀態 start -->
            <div class="line" v-else>
              <div class="tit-type2">
                <b>
                  很棒！您已經綁定富蘭克林LINE官方帳號
                </b>
              </div>
              <div class="formArea">
                <p class="text-center text">
                  您的身分證字號為{{covered_id_no}}，請直接點選下方按鍵簽到領取0元優惠券吧！
                </p>
                <div class="btnArea">
                  <div class="btn">
                    <a href="" title="送出領０元優惠" @click.prevent="sendForm" v-if="!isSubmit"> 送出領０元優惠 <i class="fas fa-angle-right"></i> </a>
                    <a href="" title="處理中，請稍候..." @click.prevent class="disabled" v-else> 處理中，請稍候... </a>
                  </div>
                </div>
                <p class="text-center chart-remark">
                  *提醒您，若LINE綁定身分證字號與國民e帳戶不同，請於周一至周五上午9點至下午6點致電0800-885-888，請專人為您服務。
                </p>
              </div>
            </div>
            <!-- LINE綁定狀態 end -->
          </div>
        </section>

        <section class="item" id="complete" v-else>
          
          <div class="container">
            <h2 class="tit-type1" title="活動辦法">
              恭禧您已獲得富蘭克林「國民e帳戶」網路交易平台0元優惠，效期至4/30止！
            </h2>
            <p class="text-center">
              尚未開戶者，快來申請線上開戶成為會員吧！
            </p>
            <div class="btnArea twoBtn">
              
              <div class="btn type2">
                <a href="https://etrade.franklin.com.tw/Open/Entrance" target="_blank" title="線上開戶"> 線上開戶 <i class="fas fa-angle-right"></i> </a>
              </div>
              <div class="btn">
                <a href="https://etrade.franklin.com.tw/Home/Login" target="_blank" title="立即下單"> 立即下單 <i class="fas fa-angle-right"></i> </a>
              </div>
            </div>
          </div>
        </section>

        <section class="item" style="background: #ffe1de url(images/tattoo.png); background-size: cover;">
          <div class="container">
            <h2 class="tit-type1" title="活動辦法">
              活動辦法
            </h2>
            <ul>
              <li>
                活動期間：即日起~2020/3/10止
              </li>
              <li>
                活動內容：活動期間填寫上述資料完成簽到，即可獲得富蘭克林國民e帳戶４筆「單筆申購０元手續費優惠」，優惠效期至2020/4/30，適用基金如下：
                <ol>
                  <li>富蘭克林精選收益基金<span style="color: #f31500;">(本基金有相當比重投資於非投資等級之高風險債券且基金之配息來源可能為本金)</span></li>
                  <li>富蘭克林伊斯蘭債券基金<span style="color: #f31500;">(本基金之配息來源可能為本金)</span></li>
                  <li>富蘭克林公用事業基金<span style="color: #f31500;">(本基金之配息來源可能為本金)</span></li>
                  <li>富蘭克林新興市場月收益基金<span style="color: #f31500;">(本基金之配息來源可能為本金)</span></li>
                </ol>
              </li>
            </ul>
          </div>
        </section>

        <section class="item">
          <div class="container">
            <h2 class="tit-type1" title="注意事項">
              注意事項
            </h2>
            <ul>
              <li>
                活動參加者有下列情形之一時，主辦單位得取消其領獎資格：
                <ol>
                  <li>
                    參加者資料為非真實或冒用第三人之資料。
                  </li>
                  <li>
                    參加者未填寫正確之中文姓名、連絡電話及電郵地址。
                  </li>
                </ol>
              </li>
              <li>
                參加者於送出資料參加本活動之同時，即同意及遵守本活動辦法及注意事項之規範。如有違反本活動辦法及注意事項者，主辦單位得取消其參加資格，並對於任何破壞本活動之行為保留法律追訴權。
              </li>
              <li>
                本公司保留修改所有活動規則權利到活動結束前。
              </li>
            </ul>
          </div>
        </section>
      </article>

      <!-- footer -->
      <footer-area></footer-area>

      <div class="topBtn">
        <a href="#top" title="返回最上面">
          <span>
            <i class="fas fa-caret-up"></i>
            TOP
          </span>
        </a>
      </div>

      <div class="fixedRightBtn-area clearfix">
        <div class="fixedRightBtn">
          <a href="https://etrade.franklin.com.tw/Open/Entrance" target="_blank" title="線上開戶">
            線上開戶 <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="fixedRightBtn type2">
          <a href="https://etrade.franklin.com.tw/Home/Login" target="_blank" title="立即下單"> 立即下單 <i class="fas fa-chevron-right"></i> </a>
        </div>
      </div>
    </div>


    <script src="js/lineEvent.min.js"></script>
    <script src="js/valid.min.js"></script>
    <script src="js/index.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
