<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<script src="js/vue.min.js"></script>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-586SXP');
	</script>
	<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#003680">
	<meta name="format-detection" content="telephone=no">
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<!-- <link rel="manifest" href="js/manifest.json" crossorigin="use-credentials"> -->

	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" sizes="192×192" href="images/192x192.png"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/style.css?v=20200429">
    <title>推薦優惠｜富蘭克林國民e帳戶-國民的基金</title>
    <meta property="og:title" content="富蘭克林國民的基金｜國民e帳戶-推薦優惠">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="1060402337367331">
    <meta name="description" content="基金專業投資顧問-富蘭克林坦伯頓基金,您的投資理財最佳顧問,富蘭克林基金提供您多樣化的基金組合,專業市場分析,基金投資建議,國際金融行情與國際財經新聞,讓您了解市場焦點,理財資訊,投資理財輕鬆上手。">
	<meta property="og:description" content="基金專業投資顧問-富蘭克林坦伯頓基金,您的投資理財最佳顧問,富蘭克林基金提供您多樣化的基金組合,專業市場分析,基金投資建議,國際金融行情與國際財經新聞,讓您了解市場焦點,理財資訊,投資理財輕鬆上手。">
	<meta property="og:image" content="https://event.franklin.com.tw/latest-offers/images/fb.png">
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="630"/>
	<meta property="og:url" content="https://event.franklin.com.tw/latest-offers/recommend.html">

	<!-- 預載入頁面 -->
	<!-- <link rel='prefetch' href='index.html'/>
	<link rel='prefetch' href='latest-offers.html'/>
	<link rel='prefetch' href='benefits.html'/>
	<link rel='prefetch' href='bonus.html'/>
	<link rel='prefetch' href='open-account.html'/> -->

	<script src="https://event.franklin.com.tw/commonResources/js/appUse/siceVueCmp.umd.min.js">//APP用的js</script>
	<script src="https://event.franklin.com.tw/commonResources/js/appUse/click.js">//APP用的js</script>
</head>
<body>

	<!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-586SXP"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
	<!-- End Google Tag Manager -->

	<sice-provider id="content" v-cloak>

		<!-- ie用的遮罩 -->
		<ie-mask></ie-mask>

		<div id="top"></div>

		<!-- header -->
		<header-area active-number="5"></header-area>

		<!-- main -->
		<article class="main">

			<section class="banner">
				<div class="container">
					<h1 title="國民e帳戶推薦優惠">
						國民e帳戶推薦優惠
					</h1>
					<img src="images/banner-tit-6.png" alt="國民e帳戶推薦優惠" class="banner-tit wow fadeInUp">
					<img src="images/banner-man.png" alt="富國民" class="banner-man wow fadeInRight">
				</div>
				<svg class="banner-bottom" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 158" style="enable-background:new 0 0 1920 158;" xml:space="preserve">
					<path style="fill:#ffd823;" d="M1920,158.03H0v-158c0,0,325.65,158,960,158s960-158,960-158V158.03z"/>
				</svg>
			</section>

			<div id="trigger-fixedShare"></div>

			<section class="item">
				<div class="container">

					<h2 class="tit-type1" title="老朋友推薦親友開戶優惠">
						老朋友推薦親友開戶優惠
					</h2>
					<p class="text-center">
						最棒的回饋，給最麻吉的會員老友！<br/>揪好友一起開戶拿手續費0元優惠，分享零成本投資好康！
					</p>
					<p class="text-center" style="color: #114791;">
						<strong>
							活動期間：
						</strong>
						2020/5/1~2020/12/31
						<br/>
						<strong>
							活動對象：
						</strong>
						推薦人需為富蘭克林國民ｅ帳戶會員
					</p>
					<div class="btnArea">
						<div class="btn">
							<a href="https://etrade.franklin.com.tw/Home/Login" target="_blank" title="立即登入查詢推薦碼">
								立即登入查詢推薦碼 <i class="fas fa-chevron-circle-right"></i>
							</a>
						</div>
					</div>

				</div>
			</section>

			<div id="recommend1"></div>
			<section class="item wow fadeInUp" style="background: #edf5ff;">
				<div class="container">

					<h2 class="tit-type1" title="推薦禮">
						推薦禮
					</h2>
					<p class="text-center">
						新朋友於申請開戶網頁填入「推薦代碼」，待開戶及核印成功後，<br class="pcShow"/>「推薦人」及「被推薦人」雙方均可獲得1筆60天效期的單筆申購手續費０元優惠。
					</p>

					<article class="recommendOffer-item-area">
						<script>
							var recommendOffer = [
								{
									id: 0,
									imgSrc: 'images/man-1.png',
									tit: '被推薦人',
									sTit: '(新戶)',
									list: '<li>1筆單筆手續費０元優惠</li><li>匯入後60天內有效</li>',
								},
								{
									id: 1,
									imgSrc: 'images/man-2.png',
									tit: '推薦人',
									sTit: '(舊戶)',
									list: '<li>1筆單筆手續費０元優惠</li><li>匯入後60天內有效</li>',
								},
							];
						</script>
						<section class="recommendOffer-item" v-for="item in recommendOffer" v-bind:key="item.id">
							<div class="recommendOffer-item-content">
								<img :src="item.imgSrc" :alt="item.tit + item.sTit" class="recommendOffer-item-img">
								<h3 class="recommendOffer-item-tit" :title="item.tit + item.sTit">
									{{item.tit}}
									<span class="recommendOffer-item-tit-small">
										{{item.sTit}}
									</span>
								</h3>
								<ul class="recommendOffer-item-list type2" v-html="item.list">
								</ul>
							</div>
						</section>
					</article>

				</div>
			</section>

			<div id="recommend2"></div>
			<section class="item wow fadeInUp">
				<div class="container">

					<h2 class="tit-type1" title="加碼禮">
						加碼禮
					</h2>
					<p class="text-center">
						不論新舊戶，在60天期限內用掉前述『推薦禮』，<br class="pcShow"/>即可再獲贈１筆90天效期的定期定額申購手續費０元優惠。
					</p>

					<article class="recommendOffer-item-area">
						<script>
							var recommendOffer2 = [
								{
									id: 0,
									imgSrc: 'images/man-1.png',
									tit: '被推薦人',
									sTit: '(新戶)',
									list: '<li>1筆定期定額手續費０元優惠</li><li>匯入後90天內有效</li>',
								},
								{
									id: 1,
									imgSrc: 'images/man-2.png',
									tit: '推薦人',
									sTit: '(舊戶)',
									list: '<li>1筆定期定額手續費０元優惠</li><li>匯入後90天內有效</li>',
								},
							];
						</script>
						<section class="recommendOffer-item" v-for="item in recommendOffer2" v-bind:key="item.id">
							<div class="recommendOffer-item-content">
								<img :src="item.imgSrc" :alt="item.tit + item.sTit" class="recommendOffer-item-img">
								<h3 class="recommendOffer-item-tit" :title="item.tit + item.sTit">
									{{item.tit}}
									<span class="recommendOffer-item-tit-small">
										{{item.sTit}}
									</span>
								</h3>
								<ul class="recommendOffer-item-list type2" v-html="item.list">
								</ul>
							</div>
						</section>
					</article>

				</div>
			</section>

			<div id="recommend3"></div>
			<section class="item activityRules wow fadeInUp">
				<div class="container">
					<h2 class="tit-type1" title="推薦親友開戶 活動規則">
						<span class="tit-type1-stit">推薦親友開戶</span> <br class="mobileShow"/>活動規則
					</h2>
					<ol class="activityRules-list">
						<li>
							<strong>活動辦法：</strong>
							<ul style="margin-top: 7px;">
								<li>
									『推薦禮』：新朋友於申請開戶網頁填入「推薦代碼」，待開戶及銀行核印成功後，「推薦人」及「被推薦人」雙方均可獲得『推薦禮』，即１筆60天效期且不限基金的單筆申購手續費０元優惠。
								</li>
								<li>
									『加碼禮』：不論新舊戶，若在使用期限內用畢『推薦禮』，將再加碼送１筆90天效期且不限基金的定期定額申購０元優惠。
								</li>
							</ul>
						</li>
						<li>
							<strong>資格對象：</strong>
							<ul style="margin-top: 7px;">
								<li>
									推薦人：需為富蘭克林「國民e帳戶」會員，並需啟用交易權限方可取得推薦人資格(即推薦代碼)，每成功推薦一人開戶完成即可獲得優惠，不限推薦次數。推薦越多人，優惠拿越多。
								</li>
								<li>
									被推薦人：欲申請富蘭克林國民ｅ帳戶的新朋友，需在申請開戶網頁填入「推薦代碼」；若為活動現場手寫表單申請開戶者，則需在送件時一併告知推薦人代碼並註記在開戶表單上，方可取得被推薦人資格；被推薦人優惠每人限取得一次。
								</li>
							</ul>
						</li>
						<li>
							<strong>優惠匯入及使用規定：</strong>
							<ul style="margin-top: 7px;">
								<li>
									推薦禮：「被推薦人」完成開戶及銀行核印成功後當日晚上11點，本優惠將自動匯入「推薦人」及「被推薦人」雙方的會員帳戶，到期未使用則優惠失效。
								</li>
								<li>
									加碼禮：「推薦人」或「被推薦人」在使用期限內用畢「推薦禮」優惠(需登入國民e帳戶下單扣款成功)，扣款成功當日晚上11點系統將自動匯入加碼禮至會員帳戶；本項優惠每人可取得多次，到期未使用則優惠失效。
								</li>
							</ul>
						</li>
						<li>
							上述所有活動優惠限透過<a href="https://etrade.franklin.com.tw/Home/Login" target="_blank" title="國民e帳戶">【國民e帳戶】</a>網路交易平台新申購適用，轉換、既有契約新扣款或AI智能理財專區交易不適用優惠。
						</li>
						<li>
							本公司保留是否接受開戶，以及取消、中止、修改活動內容、規則、時間或暫停所有活動權利。
						</li>
					</ol>
				</div>
			</section>

			<div id="recommend4"></div>
			<section class="item activityRules wow fadeInUp" style="background: #edf5ff;">
				<div class="container">

					<h2 class="tit-type1" title="推薦親友開戶 常見問題">
						<span class="tit-type1-stit">推薦親友開戶</span> <br class="mobileShow"/>常見問題
					</h2>

					<div class="qaList">
						<ul>
							<li>
								<div class="qaList-tit">
									<strong>我想推薦好友開戶，如何取得推薦人代碼？</strong>
									<i class="fas fa-plus qaList-tit-icon"></i>
								</div>
								<div class="qaList-content">
									<p>
										請先登入<a href="https://etrade.franklin.com.tw/Home/Login" target="_blank" title="國民e帳戶" style="color: #046dbe; border-bottom: solid 1px;">國民e帳戶</a>，就能在首頁如下圖紅框處查到您個人專屬的推薦代碼，並可點選FB或LINE分享快速推薦好友加入富蘭克林會員哦。
									</p>
									<p>
										<img src="images/recommend-img-1.png?v=20200429" alt="" style="max-width: 100%; margin: 0 auto; display: block;">
									</p>
								</div>
							</li>
							<li>
								<div class="qaList-tit">
									<strong>我想立即申辦開戶，要在哪裡填入推薦人代碼？</strong>
									<i class="fas fa-plus qaList-tit-icon"></i>
								</div>
								<div class="qaList-content">
									<p>
										請至富蘭克林國民ｅ帳戶<a href="https://etrade.franklin.com.tw/Open/Entrance" target="_blank" title="預約開戶" style="color: #046dbe; border-bottom: solid 1px;">預約開戶頁</a>，您可選擇<a href="https://etrade.franklin.com.tw/Open/NewMember?so=Online&" target="_blank" title="網路預約寄件開戶" style="color: #046dbe; border-bottom: solid 1px;">網路預約寄件開戶</a>或<a href="https://etrade.franklin.com.tw/Open/OpenOnlineAuthenticated?" target="_blank" title="登入網銀線上開戶" style="color: #046dbe; border-bottom: solid 1px;">登入網銀線上開戶</a>後，在第一頁填寫資料頁，即可看到『推薦代碼』欄位囉。
									</p>
									<p>
										<img src="images/recommend-img-2.png?v=20200429" alt="" style="max-width: 100%; margin: 0 auto; display: block;">
									</p>
								</div>
							</li>
							<li>
								<div class="qaList-tit">
									<strong>我不小心填錯推薦人代碼怎麼辦？</strong>
									<i class="fas fa-plus qaList-tit-icon"></i>
								</div>
								<div class="qaList-content">
									<p>
										別擔心！若您的預約開戶申請步驟尚未進行到最後一步驟送出，您皆可自行至<a href="https://etrade.franklin.com.tw/Open/Entrance" target="_blank" title="預約開戶" style="color: #046dbe; border-bottom: solid 1px;">預約開戶</a>的第一步驟頁重新輸入當初填寫的個資並更正推薦代碼；若您的網頁申請步驟已全部填完並送出，但尚在審件中，未接到開戶完成通知Email前，您亦可撥打0800-885-888轉接專人為您人工修改推薦人代碼。
									</p>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</section>

		</article>

		<!-- footer -->
		<footer-area></footer-area>
		
		<div class="topBtn">
			<a href="#top" title="返回最上面">
				<span>
					<i class="fas fa-caret-up"></i>
					TOP
				</span>
			</a>
		</div>

		<fixed-right-btn></fixed-right-btn>

	</sice-provider>

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/main.min.js?v=20200615"></script>

	<!-- <script src="js/app.js"></script> -->
	<!-- <script src="js/install.js"></script>
	<script>
		// CODELAB: Register service worker.
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', function() {
				navigator.serviceWorker.register('/service-worker.js')
					.then(function(reg) {
					console.log('Service worker registered.', reg);
					});
			});
		}
	</script> -->

</body>
</html>