.loadingArea {
  background: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10; }
  .loadingArea-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-60%);
    -ms-transform: translateX(-50%) translateY(-60%);
    transform: translateX(-50%) translateY(-60%);
    width: 303px;
    height: 146px; }
    .loadingArea-logo-1, .loadingArea-logo-2 {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.9);
      box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.9); }
    .loadingArea-logo-1 {
      top: -2px;
      background: url(../images/loading-logo-1.png) center center no-repeat;
      width: 186px;
      height: 95px;
      -webkit-animation: loadingLogo1 1.5s ease-in-out alternate backwards;
      animation: loadingLogo1 1.5s ease-in-out alternate backwards;
      border-radius: 0%; }
    .loadingArea-logo-2 {
      bottom: -2px; }
      .loadingArea-logo-2 img {
        display: block; }
      .loadingArea-logo-2-space {
        position: absolute;
        background: #fff;
        left: 100%;
        right: 0px;
        height: 23px; }
        .loadingArea-logo-2-space:nth-of-type(1) {
          top: 0px;
          -webkit-animation: loadingLogo2 1s ease-in-out 1s alternate backwards;
          animation: loadingLogo2 1s ease-in-out 1s alternate backwards; }
        .loadingArea-logo-2-space:nth-of-type(2) {
          bottom: 0px;
          -webkit-animation: loadingLogo2 1s ease-in-out 1.5s alternate backwards;
          animation: loadingLogo2 1s ease-in-out 1.5s alternate backwards; }
      .loadingArea-logo-2 svg {
        width: 303px;
        height: 43px;
        display: block; }
        .loadingArea-logo-2 svg path {
          fill: #231815; }
    .loadingArea-logo-loadingIcon {
      display: none;
      position: absolute;
      left: 50%;
      top: 120%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 20px;
      height: 20px; }
      .loadingArea-logo-loadingIcon div {
        width: 20px;
        height: 20px;
        background: #072876;
        border-radius: 100%;
        position: absolute; }
        .loadingArea-logo-loadingIcon div:nth-of-type(1), .loadingArea-logo-loadingIcon div:nth-of-type(2) {
          -webkit-animation: loadingIcon1 1.2s ease-in-out infinite backwards;
          animation: loadingIcon1 1.2s ease-in-out infinite backwards;
          opacity: 0;
          width: 40px;
          height: 40px;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }
        .loadingArea-logo-loadingIcon div:nth-of-type(2) {
          -webkit-animation-delay: .5s;
          animation-delay: .5s; }
        .loadingArea-logo-loadingIcon div:nth-of-type(3), .loadingArea-logo-loadingIcon div:nth-of-type(4), .loadingArea-logo-loadingIcon div:nth-of-type(5) {
          -webkit-animation: loadingIcon2 2s ease-in-out infinite backwards;
          animation: loadingIcon2 2s ease-in-out infinite backwards;
          top: 30px;
          left: 10px;
          width: 10px;
          height: 10px;
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transform-origin: 0px -20px;
          -ms-transform-origin: 0px -20px;
          transform-origin: 0px -20px;
          opacity: 0; }
        .loadingArea-logo-loadingIcon div:nth-of-type(4) {
          -webkit-animation-delay: .3s;
          animation-delay: .3s; }
        .loadingArea-logo-loadingIcon div:nth-of-type(5) {
          -webkit-animation-delay: .6s;
          animation-delay: .6s; }
  .loadingArea-loadingBar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.1); }
    .loadingArea-loadingBar-progress {
      -webkit-transition: 0.8s ease all;
      -o-transition: 0.8s ease all;
      transition: 0.8s ease all;
      width: 0px;
      height: 5px;
      background: #ff407a;
      border-radius: 0px 5px 5px 0px; }
  @media screen and (max-width: 767px) {
    .loadingArea-logo {
      width: 180px;
      height: 87px;
      -webkit-transform: translateX(-50%) translateY(-70%);
      -ms-transform: translateX(-50%) translateY(-70%);
      transform: translateX(-50%) translateY(-70%); }
      .loadingArea-logo-1 {
        width: 110px;
        height: 56px;
        background-size: cover; }
      .loadingArea-logo-2 img,
      .loadingArea-logo-2 svg {
        width: 180px; }
      .loadingArea-logo-2 svg {
        height: 26px; }
      .loadingArea-logo-2-space {
        height: 14px; }
      .loadingArea-logo-loadingIcon {
        top: 130%;
        -webkit-transform: translateX(-50%) scale(0.8);
        -ms-transform: translateX(-50%) scale(0.8);
        transform: translateX(-50%) scale(0.8); } }

@-webkit-keyframes loadingLogo1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes loadingLogo1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes loadingLogo2 {
  0% {
    left: 0%; }
  100% {
    left: 100%; } }

@keyframes loadingLogo2 {
  0% {
    left: 0%; }
  100% {
    left: 100%; } }

@-webkit-keyframes loadingIcon1 {
  0% {
    opacity: 0.5;
    width: 0px;
    height: 0px; } }

@keyframes loadingIcon1 {
  0% {
    opacity: 0.5;
    width: 0px;
    height: 0px; } }

@-webkit-keyframes loadingIcon2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0; } }

@keyframes loadingIcon2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0; } }

/*# sourceMappingURL=loading.css.map */